@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Source+Serif+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');



* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background: url(../img/1.jpg) no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.willkommen {
    position: relative;
    height: 83%;
    text-align: center;
    justify-content: center;
}

.willkommen::before {
    content: "";
    background-image: url(../img/partetraserapesetasssss.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.74;
}


nav {
    margin-top: 0;
    padding-top: 1.5%;
    display: flex;
    justify-content: space-between;
}

.idioma > li{
    float: left;
}

.idioma li a {
    display:block;
}


.idioma li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.idioma li:hover > ul {
    display: block;
}

.idioma li ul li {
    display: block;
}


.logo img {
    margin-top: 2.5%;
    text-shadow: 1px 1px 2px black;
}

.list_nav {
    margin-left: 0%;
}

ul li {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    font-family: raleway;

}

ul li a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 30px;
}

ul li a:hover {
    color: orange;
}

ul li a img {
    height: 10%;
    width: 10%;
}

.willkommen h1 {
    align-items: center;
    font-size: 65px;
    color: goldenrod;
    text-shadow: 1px 1px 2px black;
    font-family: 'Rowdies', cursive;
    ;
}

.contentwill {
    height: 100%;
    width: 100%;
    backdrop-filter: blur(8px);
}

.willkommen p {
    margin-top: 2%;
    align-items: center;
    font-size: 25px;
    color: goldenrod;
    text-shadow: 0.5px 0.5px 1px black;
    font-family: 'Rowdies', cursive;
}

.willkommen button {
    position: relative;
    padding: 1em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 25px;
    margin-top: 2.5%;
    margin-right: 1%;
}

.button.type3 a {
    text-decoration: none;color: goldenrod;
    text-shadow: 0.25px 0.25px 0.5px white;
}


.button.type3.type3::after,
.button.type3.type3::before {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
}

.button.type3.type3::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: goldenrod;
    border-right-color: goldenrod;
}

.button.type3.type3::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: goldenrod;
    border-left-color: goldenrod;
}

.button.type3.type3:hover:after,
.button.type3.type3:hover:before {
    border-bottom-color: goldenrod;
    border-right-color: goldenrod;
    border-top-color: goldenrod;
    border-left-color: goldenrod;
    width: 100%;
    height: 100%;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
    padding-right: 25px;
}

.imgabout {
    margin-top: 70px;
    padding-left: 25px;
    margin-bottom: 50px;
}

.imgabout img {
    border-radius: 5%;
}

.textoabout {
    padding-left: 40px;
    padding-right: 40px;
}

.textoabout h1 {
    font-size: 40px;
    margin-bottom: 40px;
    border-bottom: 1px black solid;
    width: 450px;
}

.textoabout p {
    margin-bottom: 0px;
    font-size: 25px;
    font-weight: 500;
}

.borderline {
    width: 100%;
    padding-top: 0;
    display: flex;
    justify-content: center;
}

.borderline img {
    height: 150px;
    width: 40%;
}

main {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    transition: background .4s ease-in;
}

.containerbilder h1 {
    margin-bottom: 20px;
}

input[type=radio] {
    display: none;
}

.imgcard {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
}

.containerbilder {
    width: 100%;
    max-width: 800px;
    max-height: 600px;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.imgcards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.containerbilder img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

#item-1:checked~.imgcards #song-3,
#item-2:checked~.imgcards #song-1,
#item-3:checked~.imgcards #song-2 {
    transform: translatex(-40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked~.imgcards #song-2,
#item-2:checked~.imgcards #song-3,
#item-3:checked~.imgcards #song-1 {
    transform: translatex(40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked~.imgcards #song-1,
#item-2:checked~.imgcards #song-2,
#item-3:checked~.imgcards #song-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
}

.map {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2.5%;
}

.mapouter {
    display: inline;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 40%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%;
    border-radius: 5%;
    margin-top: 2%;
}

.Planos{
    margin-top: 2%;
    margin-bottom: 2%;
}

.frenteplano{
    display: inline;
    margin-left: 9%;
}

.frenteplano img{
    width: 40%;
}

.traseroplano{
    display: inline;
}

.traseroplano img{
    width: 40%;
    height: 49.7%;
}


.formular {
    height: 60%;
    width: 90%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-image: url(../img/libro.png);
    background-size: cover;
    margin-left: 5%;
}

.formtext {
    margin-top: 10%;
    margin-left: 19%;
}

.formtext h1 {
    font-size: 50px;
}

.formtext p {
    margin-top: 25px;
    font-size: 25px;
}

.form {
    margin-top: 5%;
    margin-right: 15%;
}

.form input {
    margin-top: 2%;
    height: 30px;
    background-color: transparent;
    border: transparent;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.384);
}

.form .namePhone {
    margin-bottom: 1%;
}

::placeholder {
    color: black;
}

.form select {
    height: 30px;
    background-color: transparent;
    border: transparent;
    margin-right: 10px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.384);
}

.form textarea {
    background-color: transparent;
    height: 150px;
    width: 100%;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.384);
}

.form button {
    position: relative;
    padding: 1em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

.button.type4 {
    color: black;
}

.button.type4.type4::after,
.button.type4.type4::before {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
}

.button.type4.type4::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: black;
    border-right-color: black;
}

.button.type4.type4::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: black;
    border-left-color: black;
}

.button.type4.type4:hover:after,
.button.type4.type4:hover:before {
    border-bottom-color: black;
    border-right-color: black;
    border-top-color: black;
    border-left-color: black;
    width: 100%;
    height: 100%;
}

.footer {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    color: white;
    margin-bottom: 0;
}

.footer::before {
    content: "";
    background-image: url(../img/partetraserapesetasssss.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.74;
}

.footer_content {
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    padding: 30px 30px 20px 30px;
}

.footer__addr {
    margin-right: 1.25em;
}

.footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
}

.footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
}

.nav__title {
    font-weight: 400;
    font-size: 15px;
}

.footer address {
    font-style: normal;
    color: #999;
}

.footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    border-radius: 100px;
    color: white;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}


.footer a {
    text-decoration: none;
}

.footer__nav {
    display: flex;
    flex-flow: row wrap;
}

.footer__nav>* {
    flex: 1 50%;
    margin-right: 1.25em;
}


.nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
}

.legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
}

.legal__links {
    display: flex;
    align-items: center;
}


@media screen and (min-width: 24.375em) {
    .legal .legal__links {
        margin-left: auto;
    }
}

.footer__addr {
    flex: 1 0px;
}